<div class="themeContainer">
  <div class="mt-3">
    <h5 class="textColor">
      <a routerLink="/home" class="font-weight-bolder"> Home </a>
      /
      <a routerLink="/themlist" class="font-weight-bolder"> Theme </a>
      /
    <a routerLink="/themlist" class="font-weight-bolder"> Happy </a>
    </h5>
  </div>

  <ul class="list-group mt-auto">

    <li class="list-group-item home-list-color">
      <div class="flex-left">Title</div>
      <div class="flex-right" class="list-child">Poster name</div>
    </li>

    <li class="list-group-item home-list-color">
      <div class="flex-left">
        <a routerLink="/home"> Happy to test ! </a>
      </div>

      <div class="flex-right" class="list-child">
        <div> tester </div>
      </div>
    </li>

  </ul>
</div>

