<nav class="navbar navbar-expand-xl navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarCollapse">
    <!--href and the logo need to be add-->
    <a class="navbar-brand mr-auto" href="#">
      <img alt="Secret Garden" src="../favicon.ico">
      Secret Garden
    </a>

    <form class="form-inline">
      <div class="form-group">
      <a class="mr-2">Username:</a>
      <input class="form-control mr-2" type="username" name="navUsername" placeholder="Username">
      </div>
      <div class="form-group">
      <a class="mr-2">Password:</a>
      <input class="form-control mr-2" type="password" name="navPassword" placeholder="Password">
      <button class="btn btn-info">Log in</button>
      </div>
    </form>

  </div>

</nav>
