<div class="mt-5 text-center">
<div class = "row">
    <div class="form-intro text-light col-6">
      <h3 class="text-left"> Even the mind can not be said is worth to listen</h3><br>
      <ul>
        <li><h4 class="text-left">Share your emotions, interests and even secrets.</h4></li><br>
        <li><h4 class="text-left"> Make friends who share same interests.</h4></li><br>
        <li><h4 class="text-left"> With 100% freedrom.</h4></li><br>
      </ul>
    </div>
    <app-signup></app-signup>
  </div>
</div>
