<div class="themeContainer">
  <div class="mt-3">
    <h5 class="textColor">
      <a routerLink="/home" class="font-weight-bolder"> Home </a>
      /
      <a routerLink="/themlist" class="font-weight-bolder"> Theme </a>
    </h5>
  </div>

  <ul class="list-group mt-auto">

    <li class="list-group-item home-list-color">
      <div class="flex-left">Topic</div>
      <div class="flex-right" class="list-child">Total post</div>
    </li>

    <li class="list-group-item home-list-color" *ngFor="let theme of themeList">
      <div class="flex-left">
        <a routerLink="/postlist/{{theme.themeId}}"> {{theme.themeName}} </a>
      </div>

      <div class="flex-right" class="list-child">
        <div> {{theme.postNum}} </div>
      </div>
    </li>

  </ul>
</div>
