<div class="themeContainer">
  <div class="mt-3">
    <h5 class="textColor">
      <a routerLink="/home" class="font-weight-bolder"> Home </a>
      /
      <a routerLink="/themlist" class="font-weight-bolder"> Theme </a>
    </h5>
  </div>

  <ul class="list-group mt-auto">

    <li class="list-group-item home-list-color">
      <div class="flex-left">Topic</div>
      <div class="flex-right" class="list-child">Total posts</div>
    </li>

    <li class="list-group-item home-list-color">
      <div class="flex-left">
        <a routerLink="/postlist"> Happy </a>
      </div>

      <div class="flex-right" class="list-child">
        <div> 1 </div>
      </div>
    </li>

    <li class="list-group-item home-list-color">
      <div class="flex-left">
        <a routerLink="/teampolicy" > Secret </a>
      </div>

      <div class="flex-right" class="list-child">
        <div> 0 </div>
      </div>
    </li>

    <li class="list-group-item home-list-color">
      <div class="flex-left">
        <a routerLink="/teampolicy" > Interests </a>
      </div>

      <div class="flex-right" class="list-child">
        <div> 0 </div>
      </div>
    </li>

    <li class="list-group-item home-list-color">
      <div class="flex-left">
        <a routerLink="/teampolicy" > Sadness </a>
      </div>

      <div class="flex-right" class="list-child">
        <div> 0 </div>
      </div>
    </li>

    <li class="list-group-item home-list-color">
      <div class="flex-left">
        <a routerLink="/teampolicy" > Fearness </a>
      </div>

      <div class="flex-right" class="list-child">
        <div> 0 </div>
      </div>
    </li>

    <li class="list-group-item home-list-color">
      <div class="flex-left">
        <a routerLink="/teampolicy" > complaints </a>
      </div>

      <div class="flex-right" class="list-child">
        <div> 0 </div>
      </div>
    </li>

  </ul>
</div>
