<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.oregonstate.secretgarden.mapper.PostMapper">
    <resultMap id="BaseResultMap" type="edu.oregonstate.secretgarden.model.Post">
        <id column="postId" jdbcType="INTEGER" property="postId"/>
        <result column="themeId" jdbcType="INTEGER" property="themeId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="postName" jdbcType="VARCHAR" property="postName"/>
        <result column="postTime" jdbcType="TIMESTAMP" property="postTime"/>
        <result column="replyNum" jdbcType="INTEGER" property="replyNum"/>
    </resultMap>
    <sql id="Base_Column_List">
    postId, themeId, title, message, userId, postName, postTime, replyNum
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from post
        where postId = #{postId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from post
    where postId = #{postId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="edu.oregonstate.secretgarden.model.Post">
    insert into post (themeId, title,
      message, userId, postName, 
      postTime, replyNum)
    values (#{themeId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
      #{message,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{postName,jdbcType=VARCHAR},
      #{postTime,jdbcType=TIMESTAMP}, #{replyNum,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="edu.oregonstate.secretgarden.model.Post">
        insert into post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                postId,
            </if>
            <if test="themeId != null">
                themeId,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="postName != null">
                postName,
            </if>
            <if test="postTime != null">
                postTime,
            </if>
            <if test="replyNum != null">
                replyNum,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                #{postId,jdbcType=INTEGER},
            </if>
            <if test="themeId != null">
                #{themeId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="postName != null">
                #{postName,jdbcType=VARCHAR},
            </if>
            <if test="postTime != null">
                #{postTime,jdbcType=TIMESTAMP},
            </if>
            <if test="replyNum != null">
                #{replyNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.oregonstate.secretgarden.model.Post">
        update post
        <set>
            <if test="themeId != null">
                themeId = #{themeId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                message = #{message,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                userId = #{userId,jdbcType=INTEGER},
            </if>
            <if test="postName != null">
                postName = #{postName,jdbcType=VARCHAR},
            </if>
            <if test="postTime != null">
                postTime = #{postTime,jdbcType=TIMESTAMP},
            </if>
            <if test="replyNum != null">
                replyNum = #{replyNum,jdbcType=INTEGER},
            </if>
        </set>
        where postId = #{postId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.oregonstate.secretgarden.model.Post">
    update post
    set themeId = #{themeId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=INTEGER},
      postName = #{postName,jdbcType=VARCHAR},
      postTime = #{postTime,jdbcType=TIMESTAMP},
      replyNum = #{replyNum,jdbcType=INTEGER}
    where postId = #{postId,jdbcType=INTEGER}
    </update>

    <select id="getAllPosts" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from post
    </select>

    <select id="getThemePosts" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from post
        where themeId = #{themeId,jdbcType=INTEGER}
    </select>

    <select id="getUserPosts" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from post
        where userId = #{userId,jdbcType=INTEGER}
    </select>
</mapper>