<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.oregonstate.secretgarden.mapper.ReplyMapper">
    <resultMap id="BaseResultMap" type="edu.oregonstate.secretgarden.model.Reply">
        <id column="postId" jdbcType="INTEGER" property="postId"/>
        <id column="layerNum" jdbcType="INTEGER" property="layerNum"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="replyName" jdbcType="VARCHAR" property="replyName"/>
        <result column="replyLayerNum" jdbcType="INTEGER" property="replyLayerNum"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
    postId, layerNum, userId, replyName, replyLayerNum, content
  </sql>
    <select id="selectByPrimaryKey" parameterType="edu.oregonstate.secretgarden.model.ReplyKey"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reply
        where postId = #{postId,jdbcType=INTEGER}
        and layerNum = #{layerNum,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="edu.oregonstate.secretgarden.model.ReplyKey">
    delete from reply
    where postId = #{postId,jdbcType=INTEGER}
      and layerNum = #{layerNum,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="edu.oregonstate.secretgarden.model.Reply">
    insert into reply (postId, layerNum, userId, 
      replyName, replyLayerNum, content
      )
    values (#{postId,jdbcType=INTEGER}, #{layerNum,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
      #{replyName,jdbcType=VARCHAR}, #{replyLayerNum,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="edu.oregonstate.secretgarden.model.Reply">
        insert into reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                postId,
            </if>
            <if test="layerNum != null">
                layerNum,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="replyName != null">
                replyName,
            </if>
            <if test="replyLayerNum != null">
                replyLayerNum,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                #{postId,jdbcType=INTEGER},
            </if>
            <if test="layerNum != null">
                #{layerNum,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="replyName != null">
                #{replyName,jdbcType=VARCHAR},
            </if>
            <if test="replyLayerNum != null">
                #{replyLayerNum,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.oregonstate.secretgarden.model.Reply">
        update reply
        <set>
            <if test="userId != null">
                userId = #{userId,jdbcType=INTEGER},
            </if>
            <if test="replyName != null">
                replyName = #{replyName,jdbcType=VARCHAR},
            </if>
            <if test="replyLayerNum != null">
                replyLayerNum = #{replyLayerNum,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
        </set>
        where postId = #{postId,jdbcType=INTEGER}
        and layerNum = #{layerNum,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.oregonstate.secretgarden.model.Reply">
    update reply
    set userId = #{userId,jdbcType=INTEGER},
      replyName = #{replyName,jdbcType=VARCHAR},
      replyLayerNum = #{replyLayerNum,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR}
    where postId = #{postId,jdbcType=INTEGER}
      and layerNum = #{layerNum,jdbcType=INTEGER}
  </update>
    <select id="getPostReplys" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reply
        where postId = #{postId,jdbcType=INTEGER}
    </select>
</mapper>